html  {
    scroll-behavior: auto !important; /* anulando el smooth scroll de Bootstrap */
}

.navbar {
    background-color: 300ms;
    position:fixed;
    width: 100vw;
    z-index: 2; /* para trabajar en capas, sobreponer el menu sobre las otras vistas sections */
 
     
}
.navbar span {
    color: white;
}
.navbar-nav a{
    color: white;
}

/* Quienes Somos */

#quienes-somos{
    background-color: black;
    color: white;
}

#quienes-somos i {
    background-color: rgb(9, 200, 238);
    width: 100%;
    text-align: center;
 
}
/* Creando Cuatro Tarjetas en 1 fila */
#destacados {
    background-color: black;
    color: white;
}
.card-body {
    background-color: rgb(9, 200, 238);
}

/* Creando Formulario de Contacto */
#contacto {
    background-color: black;
    color: white;
}
#contacto button {
    background-color: rgb(9, 200, 238);
    color: white; 

}



#footer {
    background-color: rgb(9, 200, 238);
    color: white; 
}

#footer a {
    background-color: rgb(9, 200, 238);
    color: white; 
}
